* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


table {
    border-collapse: collapse;
}

td {
    width: 80px;
    height: 80px;
}